/* 1.0.3 */

textarea, input[type=submit]{ margin: 0; border-radius: 0; }
html{ padding: 0; width: 100%; }
body { margin: 0; padding: 0; }

form {
display: flex;
flex-direction: column;
height: calc(100vh - 43px);
width: 100%;
}

textarea {
height: calc(100vh - 43px);
padding: 3%;
z-index: 1;

}

input[type=submit]{
height: 38px;
position: absolute;
bottom: 0px;
z-index: 2;
}

.textANav {
position: absolute; bottom: 7px; right: 10px; z-index: 3;
}
