/* 1.0.2 */

textarea, input, input[type=submit]{ margin: 0; border-radius: 0; }
body { padding: 0; width: 100%; }

form, textarea {
height: 100vh;
min-height: 100vh;
width: 100%;
display: flex;
flex-direction: column;
}

textarea {
height: calc(100vh - var(--inputH));
min-height: calc(100vh - var(--inputH));
padding: 3%;
}

form {
position: relative;
}


input[type=submit]{
position: absolute;
bottom: 0;
z-index: 1;
}

.textANav {
position: absolute; bottom: 10px; right: 10px; z-index: 2;
}
