/* 1.0.2 */

textarea, input, input[type=submit]{ margin: 0; border-radius: 0; }
html{ padding: 0; width: 100%; }
body { margin: 0; padding: 0; }

form {
height: calc(100vh - 60px); height: -webkit-calc(100vh - 60px);
width: 100%;
position: absolute;
}

textarea {
height: calc(100vh - 60px); height: -webkit-calc(100vh - 60px);
padding: 3%;
top: 0;
z-index: 1;
}

form {
position: relative;
}


input[type=submit]{
height: 55px;
position: absolute;
bottom: -60px;
z-index: 2;
}

.textANav {
position: absolute; bottom: 10px; right: 10px; z-index: 3;
}
