/* v.1.1.4 */

.result,  textarea {
margin: 0 auto;
font-size: 120%; font-size: 1.3em; font-size: medium;
padding: 15px;
}
.win { font-size: 120% !important; }
.stat, .win { font-size: calc(var(--fontSize) + 10%); font-weight: bold; }

/*.height{ min-height: 38px; }*/

.scroll {
/*overflow-x: auto;
overflow-y: hidden;
white-space: nowrap;*/
max-height: 120px;
padding-bottom: 30px;
overflow-x: hidden;
overflow-y: auto;
scroll-padding-top: 16px;
}

.stat { text-align: right; }
#text { border-top: 7px solid var(--d2); }