/* v.1.1.0 */


.checkbox { display: inline-block; margin: 0; margin-right: 7px; }


.task {
display: grid;
grid-template-columns: 5% minmax(75%, 75%) 20%;

grid-gap: 0;
margin: 0;
width: 100%;
max-width: 100%;
justify-content: center;
align-items: safe center;
align-self: safe center;

}


.task div {
display: inline-flex;
align-items: center;
}

/*.block {
overflow: auto;
}*/

@media(max-width: 240px) {
.task {
grid-template-columns: 100%;
}
}



