/* v.1.1.0 */
/* fixMe centring */

.checkbox { display: inline-flex; padding: 0; margin: 0;  margin-right: 7px !important;  }


.task {
display: grid;
grid-template-columns: 5% 70% 25%;

grid-gap: 0;
margin: 0;
width: 100%;
max-width: 100%;
justify-content: center;
align-items: safe center;
align-self: safe center;
}

@media(max-width: 240px) {
.task {
grid-template-columns: 100%;
}
}


.flexCenter {
display: flex;
align-items: safe center;
}


/*.block {
overflow: auto;
}*/





