/* v.1.0.4 */



.checkbox { display: inline-block; margin: 0; margin-right: 7px; }


.task {
display: grid;
grid-template-columns: 5% minmax(75%, 75%) 20%;

grid-gap: 0;
margin: 0;
width: 100%;
max-width: 100%;
justify-content: center;
align-items: safe center;
align-self: safe center;

}


.flex {
display: inline-flex;
align-items: center;
}

.block {
width: 100%;
max-width: 100%;
}

@media(max-width: 340px) {
.m, .m2 { width: 100%; max-width: 100%; }
.m2 { display: block !important; position: relative !important; }
}



